
#header{
background: #5A020Cce ;
color: #fff ;

}
#head{
 color:bisque !important
}
.module h2, .module caption, .inline-group h2 {
background:rgba(119,13,25,0.808);
color:#fff;
}
div.breadcrumbs {
   background:rgba(119,13,25,0.808);
   color:#fff;
}
.selector-chosen h2
{
background:rgba(119,13,25,0.808);
color:#fff;

}